
/* google font Lato  */
.font-lato{
    font-family: 'Lato', sans-serif;
}

/* banner content styles  */
#first-slide{
    background-image: url('./images/banner1.png');
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}
#second-slide{
    background-image: url('./images/banner2.png');
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}
#third-slide{
    background-image: url('./images/banner3.png');
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}
#fourth-slide{
    background-image: url('./images/banner4.png');
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}



